.hero {
    padding: 0 2rem 2rem;
    text-align: center;
  }
  
  .hero h1 {
    padding: 2rem 0;
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-shadow: 10px 10px 5px #000;
  }

  .hero h3{
    padding-top:5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.5rem;
    color: #aaa;

  }
  
 